@import "@fontsource/quicksand/300";
@import "@fontsource/quicksand/400";
@import "@fontsource/quicksand/500";
@import "@fontsource/quicksand/700";

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Quicksand, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  *,
  ::after,
  ::before {
    @apply [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar]:h-2
    [&::-webkit-scrollbar-track]:bg-slate-700
    [&::-webkit-scrollbar-thumb]:bg-slate-500;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
